h1 {
    text-align: center;
    background-color: blue;
    color: gold;
}
 
p {
    text-align: center;
    font-size: larger;
}

.coesp {
    font-size: larger;
} 


body {
    background-color: #1c1c1c; /* Dark background color */
    background-image: url("https://www.gov.br/prf/pt-br/noticias_anteriores/noticias-2020/dezembro/nota-de-pesar/nota-de-pesar.jpg"); /* Replace with your QSMP background image */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #edf7d6ce; /* Text color for better visibility */
  }

  p {
    color: white;
    text-align: center;
  }

  li {
    color: white;

  }

  .centralizar {
    text-align: center;
   
  }

  .lista1{
    text-align: left;
  }
  
  nav a {
    text-transform: uppercase;
    color: azure;
    font-size: larger;
    text-decoration: none;
    font-weight: 700;
  }

  .gold{
    color: gold;
  }  

img{
  width: 30%;
}

